.form-container{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    margin-bottom: 30px;
}
.form-heading-container{
    color: rgb(54, 94, 235);
    height: 50px;
    margin-bottom: 20px;
}
.form-heading{
    font-size: 20px;
    text-align: center;
}

.emp-id-container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    padding: 5px;
}

.id-label{
    color: rgb(248, 248, 45);
    font-size: 20px;
    font-family: cursive;
}

.id-input{
    border-radius: 4px;
    border: 1px solid yellow;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    color: red;
}

.emp-name-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    padding: 5px;
}
.name-label{
    color: rgb(163, 210, 239);
    font-size: 20px;
    font-family: monospace;
}
.name-input{
    border: 1px solid rgb(62, 207, 226);
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 16px;
    padding-left: 10px;
    color: black;
}

.emp-doj-container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    padding: 5px;
}
.doj-label{
    color: rgb(223, 39, 67);
}
.doj-input{
    border-radius: 4px;
    border: 1px solid rgb(143, 40, 40);
    font-family: sans-serif;
    font-size: 16px;
    padding-left: 10px;
    color: black;
}

.button-container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
    height: 30px;
    padding: 5px;
    height: 100%;
    align-items: flex-end;
}

.add-button{
    width: 70px;
    height: 35px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.add-button:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    color: black;
}